body {
  background: url("../images/landing-page-background.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 25%;
  width: 25%;
  position: absolute;
  margin: 200px auto 0;
  margin-left: 270px;
  outline: 30px solid rgb(62, 6, 97);
}

.HomeText {
  color: #3b0e36;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  margin-left: 900px;
  margin-top: -520px;
  border: thick double #741461af;
  width: fit-content;
}